
@model  ControlVentasKmlMotor.EN.Empleado


@{
    ViewBag.Title = "Inicio de sesión";
    Layout = null;
}

<head>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="row border rounded-5 p-3 bg-white shadow box-area">

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img src="~/Images/LogoKMLMotor.png" class="img-fluid" style="width: 250px;">
                </div>
                <h4 class="text-white fs-2 text-wrap text-center" style=" font-weight: 600;">Bienvenido al sistema control de ventas KML Motor</h4>
            </div>


            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Iniciar Sesión</h2>
                        @if (ViewBag.msg != null)
                        {
                            <div class="alert alert-danger">@ViewBag.msg</div>
                        }
                        <p>Inicia sesión para validar tu información</p>
                    </div>
                    <form method="post" action="@Url.Action("Index","Login")">
                        <div class="input-group mb-3">
                            <input type="text" name="CorreoElectronico" value="@Model.CorreoElectronico" class="form-control  form-control-lg bg-light fs-6" placeholder="Correo Electrónico" required>
                        </div>
                        <div class="input-group mb-4">
                            <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Clave" name="Clave" required>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6">Ingresar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</body>

