@{
    ViewBag.Title = "Cuentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="cuentaCtrl" ng-init="init()">
    <div class="col-md-12">
        <div class="mt-5 text-center bg-light">
            <h2>{{ titulo }}</h2>
        </div>
        <div class="row my-4">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="mb-2 text-center">Lista de Cuentas</h3>
                        <table class="table datatables" id="dataTable-1">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>No. Factura</th>
                                    <th>Total</th>
                                    <th>Balance</th>
                                    <th>Balance Pendiente</th>
                                    <th>Estatus</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in listaCuentas">
                                    <td>{{ obj.Id }}</td>
                                    <td>{{ obj.NoFactura }}</td>
                                    <td>{{ obj.Total | currency }}</td>
                                    <td>{{ obj.Balance | currency }}</td>
                                    <td>{{ obj.BalancePendiente | currency }}</td>
                                    <td>{{ obj.Estatus == 1 ? 'Pendiente' : (obj.Estatus == 2 ? 'Cerrada' : 'Anulada') }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul uib-pagination total-items="totalItems" items-per-page="10"
                            boundary-links="false" direction-links="true"
                            ng-model="currentPage" ng-change="pageChanged()"
                            class="justify-content-center">
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <script>
        app.controller("cuentaCtrl", function($scope, $http) {
            $scope.listaCuentasBase = [];
            $scope.listaCuentas = [];
            $scope.currentPage = 1;
            $scope.numPerPage = 10;

            $scope.init = function() {
                $scope.titulo = "Cuentas";
                $scope.buscar();
            };

            $scope.buscar = function() {
                var request = {
                    method: "POST",
                    url: "@Url.Action("Buscar", "Cuenta")",
                    data: {}
                };

                $http(request).then(function(response) {
                    $scope.listaCuentasBase = angular.fromJson(response.data);
                    $scope.totalItems = $scope.listaCuentasBase.length;
                    $scope.$watch("currentPage + numPerPage", function() {
                        var inicioPag = (($scope.currentPage - 1) * $scope.numPerPage);
                        var finPag = inicioPag + $scope.numPerPage;
                        $scope.listaCuentas = $scope.listaCuentasBase.slice(inicioPag, finPag);
                    });
                });
            };

            $scope.pageChanged = function() {
                var inicioPag = (($scope.currentPage - 1) * $scope.numPerPage);
                var finPag = inicioPag + $scope.numPerPage;
                $scope.listaCuentas = $scope.listaCuentasBase.slice(inicioPag, finPag);
            };
        });
        </script>
    }


